/* 
* Hayden Wolff
* Comp 20 Lab 7
* style.css
* 10/31/18
*/

h1 {
	font-family: 'Roboto Mono', monospace;
	color: black
}

h3 {
	font-family: 'Roboto Mono', monospace;
	color: black
}

#log{

	font-family: 'Roboto Mono', monospace;
	color: black
}



